In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.feature_extraction import DictVectorizer

In [50]:
df = pd.read_csv('data/data.csv')

In [51]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [52]:
df = df[['Make', 'Transmission Type', 'MSRP', 'Number of Doors']].iloc[[1,200, 999, 17, 1900, 2100]]

In [53]:
df.columns = df.columns.str.replace(' ','_').str.lower()

In [54]:
df

            make transmission_type   msrp  number_of_doors
1            BMW            MANUAL  40650              2.0
200   Mitsubishi            MANUAL   5306              2.0
999      Porsche            MANUAL   3083              2.0
17          Audi            MANUAL   2000              4.0
1900  Volkswagen  AUTOMATED_MANUAL  26550              2.0
2100        Ford         AUTOMATIC  27120              4.0

In [55]:
df['transmission_type==MANUAL']=(df.transmission_type=='MANUAL').astype(int)

In [56]:
del df['transmission_type==MANUAL']

In [57]:
df

            make transmission_type   msrp  number_of_doors
1            BMW            MANUAL  40650              2.0
200   Mitsubishi            MANUAL   5306              2.0
999      Porsche            MANUAL   3083              2.0
17          Audi            MANUAL   2000              4.0
1900  Volkswagen  AUTOMATED_MANUAL  26550              2.0
2100        Ford         AUTOMATIC  27120              4.0

In [63]:
df.number_of_doors = df.number_of_doors.astype(str)

In [64]:
dict_train = df.to_dict(orient='records')

In [65]:
dv = DictVectorizer(sparse=False)

In [66]:
dv.fit(dict_train)

DictVectorizer(sparse=False)

In [67]:
dv.get_feature_names()

['make=Audi',
 'make=BMW',
 'make=Ford',
 'make=Mitsubishi',
 'make=Porsche',
 'make=Volkswagen',
 'msrp',
 'number_of_doors=2.0',
 'number_of_doors=4.0',
 'transmission_type=AUTOMATED_MANUAL',
 'transmission_type=AUTOMATIC',
 'transmission_type=MANUAL']

In [68]:
df

            make transmission_type   msrp number_of_doors
1            BMW            MANUAL  40650             2.0
200   Mitsubishi            MANUAL   5306             2.0
999      Porsche            MANUAL   3083             2.0
17          Audi            MANUAL   2000             4.0
1900  Volkswagen  AUTOMATED_MANUAL  26550             2.0
2100        Ford         AUTOMATIC  27120             4.0

In [69]:
dv.transform(dict_train)

array([[0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        4.065e+04, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00,
        5.306e+03, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00,
        3.083e+03, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        2.000e+03, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 1.000e+00,
        2.655e+04, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00],
       [0.000e+00, 0.000e+00, 1.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        2.712e+04, 0.000e+00, 1.000e+00, 0.000e+00, 1.000e+00, 0.000e+00]])